<!DOCTYPE html>
<html>
    <head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>

<body>
<div style="background-image: url('/static/austrailia.jpg');background-repeat: no-repeat; background-size: auto;background-size:100% 100%;
 position: fixed;width: 100%;height: 100%;-webkit-filter: blur(5px);-moz-filter: blur(1px);-o-filter: blur(1px);-ms-filter: blur(1px);filter: blur(1px);
  top: 0;left: 0;
  z-index: -1;">
</div>

         <div class="flex-container">
			 <div style="flex-grow: 1"><div class="dropdown">
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content">
    <a href="/">Main</a>
    <a href="/third">Task Distribution</a>
  </div>
</div>
         </div>
  <div style="flex-grow: 1"> <div><h2>Total Area(Square Metre)</h2>
    <input class="area" id="uiSqm" type="email" class="floatLabel" name="SquareftMT">
</div>
         </div>
         <div style="flex-grow: 1">
			 <h2>Bedroom</h2>
	<div class="switch-field">
		<input type="radio" id="bed-1" name="uiBedroom" value="1"/>
		<label for="bed-1">1</label>
		<input type="radio" id="bed-2" name="uiBedroom" value="2" checked/>
		<label for="bed-2">2</label>
		<input type="radio" id="bed-3" name="uiBedroom" value="3"/>
		<label for="bed-3">3</label>
		<input type="radio" id="bed-4" name="uiBedroom" value="4"/>
		<label for="bed-4">4</label>
		<input type="radio" id="bed-5" name="uiBedroom" value="5"/>
		<label for="bed-5">5</label>
	</div>
         </div>
         <div style="flex-grow: 1">
             <h2>Bathrooms</h2>
	<div class="switch-field">
		<input type="radio" id="bath-1" name="uiBathrooms" value="1"/>
		<label for="bath-1">1</label>
		<input type="radio" id="bath-2" name="uiBathrooms" value="2" checked/>
		<label for="bath-2">2</label>
		<input type="radio" id="bath-3" name="uiBathrooms" value="3"/>
		<label for="bath-3">3</label>
		<input type="radio" id="bath-4" name="uiBathrooms" value="4"/>
		<label for="bath-4">4</label>
		<input type="radio" id="bath-5" name="uiBathrooms" value="5"/>
		<label for="bath-5">5</label>
	</div>
         </div>
              <div style="flex-grow: 1">
           <h2>Car</h2>
	<div class="switch-field">
		<input type="radio" id="car-0" name="uiCar" value="0"/>
		<label for="car-0">0</label>
		<input type="radio" id="car-1" name="uiCar" value="1" checked/>
		<label for="car-1">1</label>
		<input type="radio" id="car-2" name="uiCar" value="2"/>
		<label for="car-2">2</label>
		<input type="radio" id="car-3" name="uiCar" value="3"/>
		<label for="car-3">3</label>
	</div>
         </div>
</div>
<div class="flex-container">
 <div style="flex-grow: 1">
		<h2>Location</h2>
    </div>
<div style="flex-grow: 1">
  <select class="location" name="" id="uiLocations">
    <option value="" disabled="disabled" selected="selected">Suburb</option>
  </select>
</div>
    </div>
    <div class="flex-container">
        <div style="flex-grow: 1">
	<button class="submit" onclick="onClickEstimatePrice()" type="button">Estimate Price</button>
    </div>
    </div>
     <div class="flex-container">
        <div style="flex-grow: 1">
    <div id="uiEstimatedPrice" class="result"> </div>
         </div>
    </div>

</body>
</html>
